In [1]:
# Importación de librerías
import pandas as pd
import numpy as np

 #Carga del dataset
#
df = pd.read_csv('C:/Users/nicolás/Desktop/CreditCardData.csv')

 # eploramos los datos
print("Tamaño del dataset:", df.shape)
print("Columnas:\n", df.columns)
print("\nPrimeras filas:")
print(df.head())

#cambiar el valor de las libras a un numero para ser más facil el uso del data frame
# Elimina el símbolo de libra (£) y convierte a float
df['Amount'] = df['Amount'].replace('[£,]', '', regex=True).astype(float)

Tamaño del dataset: (100000, 16)
Columnas:
 Index(['Transaction ID', 'Date', 'Day of Week', 'Time', 'Type of Card',
       'Entry Mode', 'Amount', 'Type of Transaction', 'Merchant Group',
       'Country of Transaction', 'Shipping Address', 'Country of Residence',
       'Gender', 'Age', 'Bank', 'Fraud'],
      dtype='object')

Primeras filas:
  Transaction ID       Date Day of Week  Time Type of Card Entry Mode Amount  \
0      #3577 209  14-Oct-20   Wednesday    19         Visa        Tap     £5
1      #3039 221  14-Oct-20   Wednesday    17   MasterCard        PIN   £288
2      #2694 780  14-Oct-20   Wednesday    14         Visa        Tap     £5
3      #2640 960  13-Oct-20     Tuesday    14         Visa        Tap    £28
4      #2771 031  13-Oct-20     Tuesday    23         Visa        CVC    £91

  Type of Transaction Merchant Group Country of Transaction Shipping Address  \
0                 POS  Entertainment         United Kingdom   United Kingdom
1                 POS       Services                    USA              USA
2                 POS     Restaurant                  India            India
3                 POS  Entertainment         United Kingdom            India
4              Online    Electronics                    USA              USA

  Country of Residence Gender   Age      Bank  Fraud
0       United Kingdom      M  25.2       RBS      0
1                  USA      F  49.6    Lloyds      0
2                India      F  42.2  Barclays      0
3       United Kingdom      F  51.0  Barclays      0
4       United Kingdom      M  38.0   Halifax      1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Transaction ID          100000 non-null  object
 1   Date                    100000 non-null  object
 2   Day of Week             100000 non-null  object
 3   Time                    100000 non-null  int64
 4   Type of Card            100000 non-null  object
 5   Entry Mode              100000 non-null  object
 6   Amount                  99994 non-null   float64
 7   Type of Transaction     100000 non-null  object
 8   Merchant Group          99990 non-null   object
 9   Country of Transaction  100000 non-null  object
 10  Shipping Address        99995 non-null   object
 11  Country of Residence    100000 non-null  object
 12  Gender                  99996 non-null   object
 13  Age                     100000 non-null  float64
 14  Bank                    100000 non-null  object
 15  Fraud                   100000 non-null  int64
dtypes: float64(2), int64(2), object(12)
memory usage: 12.2+ MB

In [3]:
# valores de si hay valores nulos
tiene_valores_faltantes = df.isnull().any().any()
print(f"¿Hay valores faltantes en la base de datos? {tiene_valores_faltantes}")
valores_faltantes_por_columna = df.isnull().any()
print(valores_faltantes_por_columna)
matriz_valores_faltantes = df.isnull()

¿Hay valores faltantes en la base de datos? True
Transaction ID            False
Date                      False
Day of Week               False
Time                      False
Type of Card              False
Entry Mode                False
Amount                     True
Type of Transaction       False
Merchant Group             True
Country of Transaction    False
Shipping Address           True
Country of Residence      False
Gender                     True
Age                       False
Bank                      False
Fraud                     False
dtype: bool

In [4]:
col_nulos= df.columns[df.isnull().any()]

# Aplicar imputación:

for col in col_nulos:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(np.nan)
    else:
        df[col] = df[col].fillna(0)

# Verificar que ya no haya valores nulos en columnas numéricas
rectificar = df[col_nulos].isnull().sum()

In [5]:
rectificar

Amount               0
Merchant Group      10
Shipping Address     5
Gender               4
dtype: int64

In [6]:
# valores de si hay valores nulos
tiene_valores_faltantes = df.isnull().any().any()
print(f"¿Hay valores faltantes en la base de datos? {tiene_valores_faltantes}")
valores_faltantes_por_columna = df.isnull().any()
print(valores_faltantes_por_columna)
matriz_valores_faltantes = df.isnull()

¿Hay valores faltantes en la base de datos? True
Transaction ID            False
Date                      False
Day of Week               False
Time                      False
Type of Card              False
Entry Mode                False
Amount                    False
Type of Transaction       False
Merchant Group             True
Country of Transaction    False
Shipping Address           True
Country of Residence      False
Gender                     True
Age                       False
Bank                      False
Fraud                     False
dtype: bool

In [7]:
df['Merchant Group'].fillna('Missing', inplace=True)
df['Shipping Address'].fillna('Missing', inplace=True)
df['Gender'].fillna('Missing', inplace=True)

C:\Users\nicolás\AppData\Local\Temp\ipykernel_32260\3507343748.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Merchant Group'].fillna('Missing', inplace=True)
C:\Users\nicolás\AppData\Local\Temp\ipykernel_32260\3507343748.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Shipping Address'].fillna('Missing', inplace=True)
C:\Users\nicolás\AppData\Local\Temp\ipykernel_32260\3507343748.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna('Missing', inplace=True)

In [8]:
# valores de si hay valores nulos
tiene_valores_faltantes = df.isnull().any().any()
print(f"¿Hay valores faltantes en la base de datos? {tiene_valores_faltantes}")
valores_faltantes_por_columna = df.isnull().any()
print(valores_faltantes_por_columna)
matriz_valores_faltantes = df.isnull()

¿Hay valores faltantes en la base de datos? False
Transaction ID            False
Date                      False
Day of Week               False
Time                      False
Type of Card              False
Entry Mode                False
Amount                    False
Type of Transaction       False
Merchant Group            False
Country of Transaction    False
Shipping Address          False
Country of Residence      False
Gender                    False
Age                       False
Bank                      False
Fraud                     False
dtype: bool